[/]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']
email=@as []
next=['<Primary><Shift><Alt>Right']
previous=['<Primary><Shift><Alt>Left']

[custom-keybindings/custom0]
binding='<Super>backslash'
command='{{ .standard_dirs.dot_dots_settings }}/.focus-x-terminal-emulator.sh'
name='Focus Terminal'

