#!/usr/bin/env zsh

function focus_x_terminal_emulator() {
	local process_pid=$(ps -eo pid,comm | grep -v grep | grep x-terminal-emul | head -n 1 | awk '{print $1}')

	if [ "${process_pid}" != '' ]; then
		local kitty_class='kitty.kitty'
		local wezterm_class='org.wezfurlong.wezterm'
		local window_id=$(wmctrl -lpx | grep -E "${process_pid}|${kitty_class}|${wezterm_class}" | awk '{print $1}')

		wmctrl -via $window_id
	else
		x-terminal-emulator
	fi
}

focus_x_terminal_emulator
