#!/usr/bin/env zsh

# function focus_x_terminal_emulator() {
# 	local process_pid=$(ps -eo pid,comm | grep -v grep | grep x-terminal-emul | head -n 1 | awk '{print $1}')
#
# 	if [ "${process_pid}" != '' ]; then
# 		local kitty_class='kitty.kitty'
# 		local wezterm_class='org.wezfurlong.wezterm'
# 		local window_id=$(wmctrl -lpx | grep -E "${process_pid}|${kitty_class}|${wezterm_class}" | awk '{print $1}')
#
# 		wmctrl -via $window_id
# 	else
# 		x-terminal-emulator
# 	fi
# }

# Hard code usage of cos-cli for now
function focus_x_terminal_emulator() {
	APP_ID="org.wezfurlong.wezterm"
	LAUNCH_CMD="wezterm"

	index=$(cos-cli info --json | jq -r --arg id "$APP_ID" '.apps[] | select(.app_id == $id) | .index' | head -1)
	if [ -n "$index" ]; then
			cos-cli activate -i "$index"
	else
			$LAUNCH_CMD &
	fi
}

# if timeout 0.1 wezterm cli list &>/dev/null; then
#   wezterm cli spawn "$@"
# else
#   wezterm start "$@"
# fi

# APP_ID="org.wezfurlong.wezterm"
# LAUNCH_CMD="wezterm"
# cli="/home/andrew/.cargo/bin/cos-cli"
#
# index=$($cli info --json | jq -r --arg id "$APP_ID" '.apps[] | select(.app_id == $id) | .index' | head -1)
#
# if [ -n "$index" ]; then
#     $cli activate -i "$index"
# else
#     # $LAUNCH_CMD &
#     # $cli info --json 2>&1 | systemd-cat
#     wezterm start --cwd "$HOME"
# fi

focus_x_terminal_emulator
