[Desktop Entry]
Version=1.0
Type=Application
Name=Obsidian
Terminal=false
GenericName=Desktop client for Obsidian
Comment=Desktop client for Obsidian
TryExec=obsidian
Exec=obsidian %U
Icon={{ .standard_dirs.dot_dots_apps  }}/obsidian/.icon.png
Categories=Utility;
