#!/usr/bin/zsh
#
# name: Rustyvibes Toggle
# icon: input-keyboard-symbolic
# description: Toggle making mechanical keyboard sounds
# keywords: rusty mechanical keyboard toggle wavy vibes

# Notes:
# - shebang can't use /usr/bin/env, it must directly reference the shell binary
# - file permissions mask is very particular, just copy this file to make new launcher scripts
# - @see https://specifications.freedesktop.org/icon-naming-spec/latest/ar01s04.html
# - @see https://www.arm64.ca/post/creating-launch-plugins-for-pop-os-updated/

# exact location to open will depend on current job (etc) so just grab this from ignored .extra file

# if [ "$(pidof rustyvibes)" != "" ]; then
#   killall rustyvibes
#   rm -rf /tmp/rustyvibes.log
# else
#   nohup {{ .chezmoi.homeDir | quote }}/.cargo/bin/rustyvibes {{ .standard_dirs.dot_dots_apps | quote }}/rustyvibes/packs/current 1>/tmp/rustyvibes.log 2>&1 &
# fi

LOG=/tmp/wayvibes.log

if [ "$(pidof wayvibes)" != "" ]; then
	killall wayvibes
	rm -rf "$LOG"
else
	# Collect names of keyboards wayvibes would find: devices whose KEY bitmask
	# has bit 30 (KEY_A) set. Mirrors wayvibes' libevdev filter in device.cpp.
	keyboards=()
	name=
	key=

	flush() {
		[ -n "$name" ] || return 0
		[ -n "$key" ] || return 0
		last_word=${key##* }
		# Only need bit 30; trim to low 32 bits to avoid zsh's 15-digit arithmetic cap.
		last_word=${last_word: -8}
		if [ $((0x$last_word & 0x40000000)) -ne 0 ]; then
			keyboards+=("$name")
		fi
	}

	has_external_display() {
		for status_file in /sys/class/drm/card*-*/status; do
			[ -r "$status_file" ] || continue
			connector=${status_file%/status}
			connector=${connector##*/}
			connector=${connector#card*-}
			case $connector in eDP* | LVDS*) continue ;; esac
			[ "$(cat "$status_file")" = connected ] && return 0
		done
		return 1
	}

	while IFS= read -r line; do
		case $line in
		'')
			flush
			name=
			key=
			;;
		'N: Name='*)
			name=${line#N: Name=\"}
			name=${name%\"}
			;;
		'B: KEY='*)
			key=${line#B: KEY=}
			;;
		esac
	done </proc/bus/input/devices
	flush

	# Prefer kanata's virtual device, then Logitech Wireless, then built-in AT.
	device=
	for kb in "${keyboards[@]}"; do
		case $kb in *[Kk]anata*)
			device=$kb
			break
			;;
		esac
	done

	if [ -z "$device" ] && has_external_display; then
		for kb in "${keyboards[@]}"; do
			case $kb in *"Logitech Wireless Keyboard"*)
				device=$kb
				break
				;;
			esac
		done
	fi

	if [ -z "$device" ]; then
		for kb in "${keyboards[@]}"; do
			case $kb in *"AT Translated"*)
				device=$kb
				break
				;;
			esac
		done
	fi

	if [ -z "$device" ]; then
		{
			echo "No preferred keyboard found. Available keyboards:"
			for kb in "${keyboards[@]}"; do
				echo "  - $kb"
			done
		} >"$LOG"
		exit 1
	fi

	echo "Using device: $device" >"$LOG"
	nohup wayvibes -v 2.0 --device-name "$device" --background {{ .standard_dirs.dot_dots_apps | quote }}/rustyvibes/packs/current 1>>"$LOG" 2>&1 &
fi
