#!/usr/bin/zsh
#
# name: Kanata Toggle
# icon: input-keyboard-symbolic
# description: Toggle layered keyboard mapping
# keywords: kanata keyboard layer mapping toggle

# Notes:
# - shebang can't use /usr/bin/env, it must directly reference the shell binary
# - file permissions mask is very particular, just copy this file to make new launcher scripts
# - @see https://specifications.freedesktop.org/icon-naming-spec/latest/ar01s04.html
# - @see https://www.arm64.ca/post/creating-launch-plugins-for-pop-os-updated/

# exact location to open will depend on current job (etc) so just grab this from ignored .extra file

if [ "$(pidof kanata)" != "" ]; then
  killall kanata
  rm -rf /tmp/kanata-toggle.log
else
  pkexec nohup {{ .chezmoi.homeDir | quote }}/.cargo/bin/kanata -c {{ .standard_dirs.dot_dots_apps | quote }}/kanata/kanata.kbd 1>/tmp/kanata-toggle.log 2>&1 &
fi
