[Desktop Entry]
Version=1.0
Type=Application
Name=Hedgedoc
Terminal=false
GenericName=Desktop client for Hedgedoc
Comment=Desktop client for Hedgedoc
TryExec=hedgedoc
Exec=hedgedoc %U
Icon={{ .standard_dirs.dot_dots_apps  }}/hedgedoc/.icon.png
Categories=Utility;
