[Desktop Entry]
Version=1.0
Type=Application
Name=Pokemon Showdown
Terminal=false
GenericName=Desktop client for Pokemon Showdown
Comment=Desktop client for Pokemon Showdown
TryExec=pokemon
Exec=pokemon %U
Icon={{ .standard_dirs.dot_dots_apps  }}/pokemon/.icon.png
Categories=Utility;
