[Desktop Entry]
Version=1.0
Type=Application
Name=Cryptomator
Terminal=false
GenericName=Desktop client for Cryptomator
Comment=Desktop client for Cryptomator
TryExec=cryptomator %U
Exec=cryptomator %U
Icon={{ .standard_dirs.dot_dots_apps  }}/cryptomator/.icon.svg
Categories=Utility;
