[Desktop Entry]
Version=1.0
Type=Application
Name=Flōt
Terminal=false
GenericName=Floating browser
Comment=Float a browser window
TryExec=flot
Exec=flot %U
Icon={{ .standard_dirs.dot_dots_apps  }}/flot/.icon.png
Categories=Utility;
