[Desktop Entry]
Version=1.0
Type=Application
Name=Tiled
Terminal=false
GenericName=Desktop client for Tiled
Comment=Desktop client for Tiled
TryExec=tiled
Exec=tiled %U
Icon={{ .standard_dirs.dot_dots_apps  }}/tiled/.icon.png
Categories=Utility;
