[Desktop Entry]
Version=1.0
Type=Application
Name=Responsively
Terminal=false
GenericName=Desktop client for Responsively
Comment=Desktop client for Responsively
TryExec=responsively
Exec=responsively %U
Icon={{ .standard_dirs.dot_dots_apps  }}/responsively/.icon.png
Categories=Utility;
