[Desktop Entry]
Version=1.0
Type=Application
Name=Penpot
Terminal=false
GenericName=Desktop client for Penpot
Comment=Desktop client for Penpot
TryExec=penpot
Exec=penpot %U
Icon={{ .standard_dirs.dot_dots_apps  }}/penpot/.icon.png
Categories=Utility;
