[Desktop Entry]
Version=1.0
Type=Application
Name=Linear
Terminal=false
GenericName=Desktop client for Linear
Comment=Desktop client for Linear
TryExec=linear
Exec=linear %U
Icon={{ .standard_dirs.dot_dots_apps  }}/linear/.icon.png
Keywords=vault;password;
Categories=Utility;
