[Desktop Entry]
Version=1.0
Type=Application
Name=Notion
Terminal=false
GenericName=Desktop client for Notion
Comment=Desktop client for Notion
TryExec=notion
Exec=notion %U
Icon={{ .standard_dirs.dot_dots_apps  }}/notion/.icon.png
Categories=Utility;
