[Desktop Entry]
Version=1.0
Type=Application
Name=Claude Desktop
Terminal=false
GenericName=Desktop client for Claude Desktop
Comment=Desktop client for Claude Desktop
TryExec=claude-desktop
Exec=claude-desktop %U
Icon={{ .standard_dirs.dot_dots_apps  }}/claude-desktop/.icon.png
Categories=Utility;
