[Desktop Entry]
Version=1.0
Type=Application
Name=Insomnia
Terminal=false
GenericName=Desktop client for Insomnia
Comment=Desktop client for Insomnia
TryExec=insomnia
Exec=insomnia %U
Icon={{ .standard_dirs.dot_dots_apps  }}/insomnia/.icon.png
Categories=Utility;
