[Desktop Entry]
Version=1.0
Type=Application
Name=Overcast
Terminal=false
GenericName=Desktop client for Overcast
Comment=Desktop client for Overcast
TryExec=overcast
Exec=overcast %U
Icon={{ .standard_dirs.dot_dots_apps  }}/overcast/.icon.png
Categories=Utility;
