[Desktop Entry]
Version=1.0
Type=Application
Name=Neovim
Terminal=false
GenericName=Desktop client for Neovim
Comment=Desktop client for Neovim
TryExec=nvim
Exec=nvim %U
Icon={{ .standard_dirs.dot_dots_apps  }}/neovim/.icon.png
Categories=Utility;
