[Desktop Entry]
Version=1.0
Type=Application
Name=Godot
Terminal=false
GenericName=Desktop client for Godot
Comment=Desktop client for Godot
TryExec=godot
Exec=godot %U
Icon={{ .standard_dirs.dot_dots_apps  }}/godot/.icon.png
Categories=Utility;
