[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec={{ .standard_dirs.dot_dots_apps  }}/kitty/.launcher
Exec={{ .standard_dirs.dot_dots_apps  }}/kitty/.launcher
Icon={{ .standard_dirs.dot_dots_apps  }}/kitty/.icon.png
Categories=System;TerminalEmulator;
