[settings]
{{ if eq (env "DOTFILES_SRC_PATH_OVERRIDE" | trim) "" -}}
trusted_config_paths = [{{ .standard_dirs.code | quote  }}, {{ .chezmoi.sourceDir | quote }}]
{{- else -}}
trusted_config_paths = [{{ .standard_dirs.code | quote  }}, {{ .chezmoi.sourceDir | quote }}, {{(env "DOTFILES_SRC_PATH_OVERRIDE" | trim | quote)}}]
{{ end }}

[settings.skills]
auto_sync = false
fetch = false
prune = false

[tools]
"aqua:LuaLS/lua-language-server" = "latest"
"aqua:jorgerojas26/lazysql" = "latest"
duckdb = "latest"
fnox = "latest"
fzf = "latest"
gh = "latest"
"github:Skardyy/mcat" = "latest"
process-compose = "latest"
ruff = "latest"
scooter = "latest"
tokei = "latest"
ty = "latest"
usage = "latest"
usql = "latest"
uv = "latest"
