#!/usr/bin/env zsh
#
# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Update Dotfiles
# @raycast.mode fullOutput

# Optional parameters:
# @raycast.icon ⚡️
# @raycast.packageName Custom
# @raycast.needsConfirmation false

# Documentation:
# @raycast.description Update Dotfiles
# @raycast.author andrewbrey
# @raycast.authorURL https://github.com/andrewbrey

# Notes:
# - @see https://github.com/raycast/script-commands
chezmoi update --force
