#!/usr/bin/env zsh
#
# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Open Dotfiles in VS Code
# @raycast.mode compact

# Optional parameters:
# @raycast.icon ⚡️
# @raycast.packageName Custom
# @raycast.needsConfirmation false

# Documentation:
# @raycast.description Open dotfiles in VS Code
# @raycast.author andrewbrey
# @raycast.authorURL https://github.com/andrewbrey

# Notes:
# - @see https://github.com/raycast/script-commands
if command -v direnv >/dev/null 2>&1; then
	direnv exec {{ .chezmoi.sourceDir | quote }} code {{ .chezmoi.sourceDir | quote }} &
else
	code {{ .chezmoi.sourceDir | quote }} &
fi

# final Raycast toast output
echo ""
