[Desktop Entry]
Version=1.0
Type=Application
Name=DevDocs
Terminal=false
GenericName=Desktop client for DevDocs
Comment=Desktop client for DevDocs
TryExec=devdocs
Exec=devdocs %U
Icon={{ .standard_dirs.dot_dots_apps  }}/devdocs/.icon.png
Categories=Utility;
