[Desktop Entry]
Version=1.0
Type=Application
Name=Audacity
Terminal=false
GenericName=Desktop client for Audacity
Comment=Desktop client for Audacity
TryExec=audacity
Exec=audacity %U
Icon={{ .standard_dirs.dot_dots_apps  }}/audacity/.icon.png
Categories=Utility;
