layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane name="Infra" cwd="${WORK_REPO}" {
                command "~/code/sw/app/rust/aws-iot-server/scripts/start-local-hybrid.sh"
                start_suspended true
            }
            pane name="Server" cwd="${WORK_REPO}/app/rust" {
                command "cargo"
                args "run" "--bin" "aws-iot-server"
                start_suspended true
            }
            pane name="Log Relay" cwd="${WORK_REPO}/app/rust" {
                command "zsh"
                args "-c" "export RUST_LOG=info; cargo run --bin impulse-log-relay -- -w \"${WORK_REPO}\"/app/rust/.ignored/sim-app-persistence --egress-url='http://localhost:8080/ingest/logs' --dev-auth"
                start_suspended true
            }
            pane name="MQTT" cwd="${WORK_REPO}/app/rust" {
                command "cargo"
                args "run" "--bin" "local-mqtt-broker"
                start_suspended true
            }
            pane name="Sims" cwd="${WORK_REPO}/app/rust" {
                command "cargo"
                args "run" "--bin" "local-simulator"
                start_suspended true
            }
            pane name="App" cwd="${WORK_REPO}/aws_iot/fleet-monitor" {
                command "nr"
                args "dev" "--host"
                start_suspended true
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
