layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane name="Infra" cwd="${WORK_REPO}" {}
            pane name="Server" cwd="${WORK_REPO}/app/rust" {}
            pane name="MQTT" cwd="${WORK_REPO}/app/rust" {}
            pane name="Sims" cwd="${WORK_REPO}/app/rust" {}
            pane name="App" cwd="${WORK_REPO}/aws_iot/fleet-monitor" {}
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
