[Desktop Entry]
Version=1.0
Type=Application
Name=WezTerm
GenericName=Terminal emulator
Comment=A powerful cross-platform terminal emulator and multiplexer
TryExec=wezterm
Exec=wezterm
Icon={{ .standard_dirs.dot_dots_apps  }}/wezterm/.icon.png
Categories=System;TerminalEmulator;
