#!/usr/bin/env zsh

# =====
# general
# =====
alias aci="ASCIINEMA_REC=1 asciinema"
alias als="alias | grep"
alias cat="bat"
alias chownme="sudo chown -R ${USER}:${USER}"
alias claer="clear"
alias clera="clear"
alias e="exa --icons --long --all"
alias ee="exa --icons --long"
alias es="exa --icons"
alias et="exa --icons --long --all --tree --level=2"
alias exifnuke="exiftool -all= "
alias gwipci='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify --no-gpg-sign --message "--wip--"'
alias gig="add-gitignore node deno macos linux windows visualstudiocode dropbox rust rust-analyzer && touch README.md"
alias gpgreload="gpg-connect-agent reloadagent /bye"
alias hss="history | grep"
alias lwhich="which -S"
alias myip="curl --silent --header 'Accept: application/json' ifconfig.co | jq"
alias ncud="ncu --deep"
alias pfmt="prettier --write ."
alias rmrf="rimraf"
alias speedtest="npx fast-cli --upload"
alias sqlite="sqlite3"
alias srv="http-server"
alias sshc="nano ~/.ssh/config"
alias sysinfo="neofetch"
alias tldr="cheat"
alias tt="timer"
alias xit="exit"
alias zgup="zgenom selfupdate && zgenom update && rm -rf ~/.zcompdump*"
alias tmus="tmux"
alias tn="tmux_new"
alias ta="tmux attach"

# =====
# git
# =====
alias ccl="git cz"
alias ccla="gaa && ccl"
alias gcan="git add . && gcan!"
alias ggpush!="ggpush --no-verify"
alias gla="ls -1 | xargs -I% sh -c '[ -d %/.git ] && echo Working on % && git -C % fetch --all --prune --jobs=10 && git -C % pull'"
alias glg="glgg --stat"
alias glod="gfa && git pull origin dev"
alias glom="gfa && pull_main_branch"
alias gunc="git reset --soft HEAD@{1}"

# =====
# docker
# =====
alias dco='docker-compose'
alias dce='docker-compose exec'
alias dcr='docker-compose run'
alias dcup='docker-compose up'
alias dcupd='docker-compose up -d'
alias dcdn='docker-compose down'
alias dclf='docker-compose logs -f'
alias dps="docker ps"

# =====
# bookmarks
# TODO: replace with jump? https://github.com/gsamokovarov/jump
# =====
alias ba="file-path-bookmarks add"
alias bl="file-path-bookmarks list"
alias br="file-path-bookmarks remove"

# =====
# npm
# =====
alias npx="npx -y"
alias npmlsg="npm ls -g --depth 0"

# =====
# tmpmail
# =====
alias bmail="tmpmail -b google-chrome"
alias bmailr="tmpmail -b google-chrome -r"

# =====
# deno
# =====
alias drn="deno run -A --no-check"
alias drni="deno run -A --no-check --import-map=import_map.json"
alias dtn="deno test --no-check"
alias dtni="deno test --no-check"

# =====
# rust
# =====
alias nt="cargo nextest run"

# =====
# skate
# =====
alias sk="skate"
alias skf="skate_find"
alias skg="skate get"
alias skl="skate list --keys-only"
alias sks="skate set"
alias skup="skate sync"

# =====
# melt
# =====
alias sshnew="melt_new_key"
alias sshmelt="melt_key_to_phrase"
alias sshrestore="melt_phrase_to_key"

# =====
# vercel
# =====
alias vercel="vercel_wrapper $(command -v vercel || echo 'vercel_not_installed')"

# =====
# flyctl
# =====
alias fly="flyctl"

# =====
# aws
# =====
alias aws="aws_wrapper"
alias awswhoami="aws_wrapper sts get-caller-identity"

# =====
# platform specific
# =====
{{ if .is_linux -}}
alias open="xdg-open"
alias pbcopy="sed -z '$ s/\n$//' | xsel --clipboard --input"
{{- end }}
