..*|cd *|1|2|3|mkcd *
b *|ba|bl|br
bw|bw *
cat *
code *
echo *
exit|xit|clear|claer|c
pam|pam *|sam|sam *|dum|dum *
ccl|ccla|gb|gcd|gcm|gco *|gdw|ggpush|gla|glg|glgme|glod|glom|glomaster|gpristine|gst|gwip|git init|gig|gstl|gsts|gstp|gsta
GH_TOKEN*|GITHUB_TOKEN*|use_gh
SECRET_*
heroku *
history|hss *
l|l *|ll|ls
e|e *|ee|ee *|es|es *|et|et *
ncud|npmlsg
pcat *
pwd
relshell
srv *
sshc|sshs *
timer|timer *|tt|tt *
which *|type *
youtube-dl *
encrypt_file *|decrypt_file *
drn *|drni *|dtn *|dtni *
myip
lwhich
exercism|exercism *
yarn|yarn *
npm|npm *
ncu|ncu *
rmrf|rmrf *
curl|curl *
dps|dcup|dcupd|dco
chownme|chownme *
delme|delme *|gdelme|gdelme *
skate|skate *|sk|sk *|skg|skg *|skl|sks|sks *|skup|skf|skf *|skate_find|skate_find *
melt_new_key|melt_new_key *|melt_key_to_phrase|melt_key_to_phrase *|melt_phrase_to_key|melt_phrase_to_key *
sshnew|sshnew *|sshmelt|sshmelt *|sshrestore|sshrestore *
notify-send|notify-send *
use_deno_deploy
use_npm
use_vercel
use_aws|use_aws *
ntfy|ntfy *
vercel|vercel *
