..*|cd *|1|2|3|mkcd *
b *|ba|bl|br
bw|bw *
cat *
code|code *
echo *
exit|xit|clear|claer|clare|c
pam|pam *|sam|sam *|dum|dum *
ccl|ccla|gb|gcd|gcm|gco *|gdw|ggpush|gla|glg|glg *|glgme|glod|glom|glomaster|gpristine|gst|gwip|gwip *|git init|gig|gstl|gsts|gstp|gsta|gbD|gbD *|gcb|gcb *|grrm *|grv|gpf|gpsupf|git pull|git pull *|git push|git push *
GH_TOKEN*|GITHUB_TOKEN*|use_gh
SECRET_*
heroku *
history|history *|hss *
l|l *|ll|ls|ls *
e|e *|ee|ee *|es|es *|et|et *
ncud|npmlsg
pcat *
pwd
relshell
srv *
sshc|sshs *
timer|timer *|tt|tt *
which *|type *|where *
youtube-dl *
yt-dlp *
encrypt_file *|decrypt_file *
drn *|drni *|dtn *|dtni *
myip
lwhich|lwhich *
tail *
exercism|exercism *
yarn|yarn *
npm|npm *
ncu|ncu *
rmrf|rmrf *|rm|rm *|rmdir|rmdir *
chmod|chmod *|chown|chown *
mv|mv *
mkdir|mkdir *
cp *
curl|curl *
dps|dcup|dcupd|dco
chownme|chownme *
delme|delme *|gdelme|gdelme *
skate|skate *|sk|sk *|skg|skg *|skl|sks|sks *|skup|skf|skf *|skate_find|skate_find *
melt_new_key|melt_new_key *|melt_key_to_phrase|melt_key_to_phrase *|melt_phrase_to_key|melt_phrase_to_key *
sshnew|sshnew *|sshmelt|sshmelt *|sshrestore|sshrestore *
notify-send|notify-send *
use_deno_deploy
use_npm
use_vercel
use_aws|use_aws *
ntfy|ntfy *
vercel|vercel *
glasscode|glasscode *
prewinrec|prewinrec *
meet|meet *
tempcode|tempcode *
jd|jd *|nt
chezmoi update|chezmoi status|chezmoi edit *
dm|dm *|pm|pm *|deadman|deadman *
nvim|nvim *|micro|micro *|nano|nano *
deno|deno task|deno task *|deno add|deno add *|deno cache|deno run *|deno install *
tmpmail|tmpmail *
zgup
cargo check|cargo run *|cargo fmt|cargo build|cargo clean
npx|npx *|nr|nr *|ni|
grep|grep *
thing|thing *
bmail|bmailr
man *
docker volume *|docker container *|docker image *|docker system *
touch *
