[Desktop Entry]
Version=1.0
Type=Application
Name=Twitch
Terminal=false
GenericName=Desktop client for Twitch
Comment=Desktop client for Twitch
TryExec=twitch
Exec=twitch %U
Icon={{ .standard_dirs.dot_dots_apps  }}/twitch/.icon.png
Categories=Utility;
