[Desktop Entry]
Version=1.0
Type=Application
Name=Bitwarden
Terminal=false
GenericName=Desktop client for Bitwarden
Comment=Desktop client for Bitwarden
TryExec=bitwarden
Exec=bitwarden %U
Icon={{ .standard_dirs.dot_dots_apps  }}/bitwarden/.icon.png
Categories=Utility;
