[Desktop Entry]
Version=1.0
Type=Application
Name=FlowTunes
Terminal=false
GenericName=Desktop client for FlowTunes
Comment=Desktop client for FlowTunes
TryExec=flowtunes
Exec=flowtunes %U
Icon={{ .standard_dirs.dot_dots_apps  }}/flowtunes/.icon.png
Categories=Utility;
