[Desktop Entry]
Version=1.0
Type=Application
Name=Claude
Terminal=false
GenericName=Desktop client for Claude
Comment=Desktop client for Claude
TryExec=claude
Exec=claude %U
Icon={{ .standard_dirs.dot_dots_apps  }}/claude/.icon.png
Categories=Utility;
