[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube Music
Terminal=false
GenericName=Music Player
Comment=Desktop client for YouTube Music
TryExec=youtube-music
Exec=youtube-music %U
Icon={{ .standard_dirs.dot_dots_apps  }}/youtube-music/.icon.png
Categories=AudioVideo;
