[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT Desktop
Terminal=false
GenericName=Desktop client for ChatGPT Desktop
Comment=Desktop client for ChatGPT Desktop
TryExec=chatgpt
Exec=chatgpt %U
Icon={{ .standard_dirs.dot_dots_apps  }}/chatgpt/.icon.svg
Categories=Utility;
