[Desktop Entry]
Version=1.0
Type=Application
Name=Beekeer Studio
Terminal=false
GenericName=Desktop client for Beekeer Studio
Comment=Desktop client for Beekeer Studio
TryExec=beekeeper-studio
Exec=beekeeper-studio %U
Icon={{ .standard_dirs.dot_dots_apps  }}/beekeeper-studio/.icon.png
Categories=Utility;
