[Desktop Entry]
Version=1.0
Type=Application
Name=Figma
Terminal=false
GenericName=Desktop client for Figma
Comment=Desktop client for Figma
TryExec=figma
Exec=figma %U
Icon={{ .standard_dirs.dot_dots_apps  }}/figma/.icon.png
Categories=Utility;
